<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <title>Vs Doc</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-datetimepicker.min.css">

    <link rel="stylesheet" type="text/css" href="../css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>


    
  


</head>

<body>
    <div class="main-wrapper">
        <div class="header">
			<div class="header-left">
				<a href="./index" class="logo">
					<img src="../img/images.jpg" width="35" height="35" alt=""> <span>Vs Doc</span>
				</a>
			</div>
			<a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">

                      
                        <span class="user-img">
							<img class="rounded-circle" src="../img/images.jpg" width="24" alt="Admin">
							
						</span>

                        {{!-- {{#if cookies.user.role=='Doctor'}} 

                         <span id="user">Doctor</span>

                        {{/if}} --}}





                        {{!-- {{#each data}}
                             <span id="user">{{this.}} </span>
                         
                        {{/each}} --}}
                         <span id="user">Admin</span>
                    </a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="/admin-profile">My Profile</a>
						<a class="dropdown-item" href="/edit-profile">Edit Profile</a>
						{{!-- <a class="dropdown-item" href="settings.html">Settings</a> --}}
						{{!-- <a class="dropdown-item" href="/logout">Logout</a> --}}
					</div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                   <a class="dropdown-item" href="/admin-profile">My Profile</a>
						<a class="dropdown-item" href="/edit-profile">Edit Profile</a>
						{{!-- <a class="dropdown-item" href="settings.html">Settings</a> --}}
						{{!-- <a class="dropdown-item" href="/logout">Logout</a> --}}
                </div>
            </div>
        </div>


{{!-- 
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script> --}}

        {{!-- {{data}} --}}


      